<?xml version="1.0"?> 
<robot name="LWR"> 
 
  <include filename="$(find kuka_lwr_description)/urdf/kuka_lwr_arm_simple.urdf.xacro"/> 
  <include filename="$(find kuka_lwr_description)/urdf/common/materials.xml"/> 

  <link name="base_link" /> 
  <kuka_lwr_arm parent="base_link" name="lwr" right="1" tool_name="_angle"> 
    <origin xyz="0 0 0" 
            rpy="0 0 0"/> 
  </kuka_lwr_arm> 
</robot>
